/* Reset padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variáveis de tema */
:root {
  --text-color: white;
  --bg-color: #2f2c3b; /* Fundo roxo escuro */
  --bg-image: url("./assets/bg-mobile.jpg");
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --stroke-color-hover: rgba(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

/* Estilos para tema claro */
.light {
  --text-color: black;
  --bg-color: #f0f0f0; /* Fundo cinza claro para o tema claro */
  --bg-image: url("./assets/bg-mobile-light.jpg");
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --stroke-color-hover: rgba(0, 0, 0, 0.2);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

/* Estilos gerais */
body {
  background-color: var(--bg-color); /* Usando a variável para o fundo */
  background-image: var(--bg-image); /* Adicionando fundo de tela */
  background-size: cover; /* Ajusta para cobrir toda a tela */
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#profile button {
  margin-top: 16px; /* Adiciona espaçamento entre o nome e o botão */
  padding: 8px 16px;
  font-size: 16px;
  background-color: var(--surface-color);
  color: var(--text-color);
  border: 1px solid var(--stroke-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#profile button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color);
}

.link {
  border: 1px solid #ccc; /* Borda cinza claro */
  background-color: var(
    --surface-color
  ); /* Fundo baseado na variável de superfície */
  padding: 8px; /* Espaçamento interno */
  margin-bottom: 16px; /* Espaçamento entre os links */
}

.link a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s;
  color: var(--text-color); /* Cor do texto */
}

.link a ion-icon {
  font-size: 24px;
  margin-right: 8px;
  color: var(--text-color); /* Cor do ícone */
}

.link a:hover {
  background: rgba(255, 255, 255, 0.5);
  border: 1.5px solid var(--stroke-color-hover);
}

/* Estilos para o tema claro */
.light .link a,
.light .link a ion-icon {
  color: black !important; /* Cor do texto e do ícone para o tema claro */
}

footer {
  padding: 24px 0;
  text-align: center;
}
